<h2>Daily Productions</h2>
<ul>
  <% if @daily_productions.present? %>
    <% @daily_productions.each do |prod| %>
      <li><%= prod.date %> : <%= prod.total_energy %></li>
    <% end %>
  <% end %>
</ul>